body {
font-family: 'Roboto', sans-serif   ;
display: flex;
flex-direction: column;
margin: 0;

}

h1{
    font-size: 24px;
    width: 494.45px;
}
h2{
    margin: 0;
}

.Awesome{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.SignUpBar{
    padding: 1
}
.TopBar{
  display: flex;
  justify-content: space-around;
;  
}

.BelowTop{
    display: flex;
    justify-content: space-around;
    margin-top: 50px
    
}


ul {
    display: flex;
    list-style-type: none;
    
    padding: 0;
    gap: 32px;
}

.FirstTwo {
    
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    
    
}

.Content{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    padding-bottom: 12px;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.MonkeyPicture{
    display:flex;
    width: auto; 
    height: 220px;
    Margin-bottom: 80px;
}

.FirstButton{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}

.RandoInfo {
font-size: 36px;
font-weight: 800;
display: flex;
justify-content: center;
padding: 30px;
}

.BelowBelowTop{
    display: flex;
    flex-direction: column;
}

.ImageGrid{
    display: flex;
    justify-content: space-evenly;
}

.ImageText1, .ImageText2, .ImageText3, .ImageText4 {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
}

.Image1, .Image2, .Image3, .Image4{
    height: 150px;
    width: auto;
    border-radius: 8px;
    border: 3px Solid #3882F6;
}

.QuoteContainer{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    margin-top: 20px;
}
.Quote{
    font-size: 36px;
    text-align: center;
}
.Quoted{
display: flex;
justify-content: center;
margin-left: 290px;
}

.Modal{
    background-color: #3882F6;
    color:#F9FAF8;
    margin: 100px;
    border-radius: 8px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.SecondButton{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: #F9FAF8 Solid 3px;
}
.Footer{
    background-color: #1F2937;
    padding: 30px;
    text-align: center;
    color:#F9FAF8;
}